<%- include("./includes/head") %>
  </head>
  <body>
   <%- include("./includes/header") %>
    <main>
      <h1>Not Found</h1>
      <p>Unfortunately, We can't found any response yet.</p>
    </main>
<%- include("./includes/end") %>
