<%- include("./includes/head") %>
  </head>
  <body>
   <%- include("./includes/header") %>
    <main>
      <h1>Something went wrong!</h1>
      <p>Unfortunately, something went wrong on the server.</p>
      <p>Please after some time.</p>
    </main>
<%- include("./includes/end") %>
